/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* #reset */

/* global settings */

html, body {
   margin:0;
   padding:0;
   height:100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:62.5%; 
    line-height: 1.2em;
    color:#7e8287;
    overflow: auto;  
    background:#fff;
}

*:first-child+html body {   
    overflow: visible;
}

img,
video, 
object {
    width:100%;
}

img,
video {
    height:auto;
}

object{
    height:100%;
}

a,
a:hover {
    text-decoration:none;
}

a {
    color:#fff;
}

a:hover {
    color:#cfc91d;
}
a .fa {
    line-height: 50px;
}
p {
    font-size:1.5em;
    margin:0 0 2.6em 0;
}

h2 {
    font-size:3em;
    line-height:1.4em;
    color:#02918c;
}

input:focus {
    outline: 0;
} 

a:focus {
    outline: 0;
}

/* Reset HTML5 Search Input in Webkit */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input[type=search] {
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
 }

/* global transition time */
a   {

        transition:all 0.5s linear;
        -webkit-transition:all 0.5s linear;
        -moz-transition:all 0.5s linear;
        -ms-transition:all 0.5s linear;
}

#main-wrapper,
nav,
section,
article,
aside,
footer .content-wrapper {
   position:relative;
}

#main-wrapper,
section {
   min-height:100%;
}

#main-wrapper {
    margin:auto;
}

#main-wrapper, 
section,
article, 
aside,
footer, 
footer .footer-content-wrapper {
    width:100%;
}

header,
section,  
footer .footer-content-wrapper {
    overflow:hidden;
}

section {
   padding:0 0 4em 0;
}

footer {
    position:absolute;
    left:0;
    bottom:0;

}
/* header */
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:7em;
    background: white;
    z-index:100;
}
    h1#logo,
    h1#logo a {
        width:25em;
        height:6em;
    }
    
        h1#logo {
            float:left;
            background:url(../images/logo.png) center no-repeat;
        }
        
        h1#logo a {
            display:block;
        }
        
        h1#logo span {
            display:none;
        }
    img#icono-menu{
        display: none;
    }
        
    header nav {
        float:right;
    }
    
        header nav ul,
        header nav ul li {
            float:left;
        }
        
       header nav ul li a {
            font-family: 'Raleway', sans-serif;
            font-size: 1.6em;
            margin: 0.8em;
            padding: 0.8em;
            display:block;
            color: black;
        }
        
        header nav ul li a:hover,
        header nav ul li a.current-item{
            color:white;
            font-size: 1.6em;
            background:#02918c; 
        }
/* aside */ 
article {
  float:left;
}


article#home{
    background:white;
    height: 80em;
      
}
.cuadro{
    width: 96%;
    height: 58%;
    margin: 16em 0 0 0;
}
article#home h2 {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    width: 61%;
    clear: both;
    margin: 2em 0 0em 3em;
}
article#home h2 span {
    float: right;
    font-size: 1em;
    color: black;
}

  article#aboutme {
    background:url(../images/fondoyo.jpg)center no-repeat;
    background-size:100% auto;
    height:75em;
    
  }
  article#aboutme h2{
    text-align: center;
    color: #F2E33C;
    font-family: 'Open Sans', sans-serif;
    line-height:3em;
    font-size:3.9em;
  }
  .opacidad{
    background: rgba(0,0,0,0.4);
    background-size:100% auto;
    height:75em;

  }

  article#mywork h2,
  article#contactme h2 {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#02918C;
    line-height:2em;
    font-size:3.9em;
    margin: 0.8em 0 1.6em 5%;
}


  article#aboutme p {
    font-family: 'Raleway', sans-serif;
    margin: 10em auto 3em;
    width:60%;
    color:white;
    text-align:center;
    font-size: 2em;
    line-height: 1.5em;
        
    }

.about {
        width: 100%;
        height: 20em;
        background: #02918c;
        clear: left;
    }
.about h3 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 2.1em;
    line-height: 2em;
    margin: 1em auto 0;
    padding-top: 2em;
    text-align: center;
    width: 50%;
}

article#mywork {
    background: #ACACAD;
    background-size: 100% auto;
    height: auto;

}

#myworks img{
    width: inherit;
}
#myworks {
    padding-left:9em;
}
#myworks li{
    float: left;
    display: center;

}
article#contactme {
    background:white;
    text-align: center;
    height: 50em;
    width: 100%;
}
article#contactme h3{
    font-size: 3em;
}
article#contactme p {
    color: black;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    margin: -3em auto 3em;
    min-height: 4em;
    text-align: left;
    width: 60%;
}


article#social_network {
    display:inline-block; 
    text-align: center; 
    

}
article#social_network a{

    border: 2px solid #02918C;
    border-radius: 50%;
    color: #02918C;
    font-size: 2em;
    display: inline-block;
    height: 50px;
    margin: 10px 3px;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 50px;
}
 



/*footer*/

footer {
    background-size: 100% auto;
    height: 4em;
}
footer p {
    margin: 1em auto 1em;
    color: #000;
    max-width: 400px;
    width: 80%;
    text-align: center;
}


/* media queries */
@media only screen and (min-width: 1280px) {

    article#aboutme h3 {
        font-size: 2em;
    }    
}

@media only screen and (max-width: 1190px) {
    h1#logo,
    h1#logo a {
        width:34em;
        height:7em;
        background-size: 50%;
    }
    header {
        height: 7em;
    }
    header nav ul {
        line-height: 4.2em;
    }

    header nav ul li a {
        font-size: 2em;
        margin: 0.5em;
        padding:0.1em;
        display:block;
    } 



@media only screen and (max-width: 980px) {
    h1#logo, h1#logo a {
        background-size: 50% auto;
        height: 7em;
        width: 30em;
    }
    article#aboutme {
        background-size:auto 100%;
    }      
    article#aboutme h3 {
        line-height: 1.6em;
    } 
    header {
        height: 7em;
    }
    header nav ul {
        line-height: 4.2em;
    }

    header nav ul li a {
        font-size: 1.9em;
        margin: 0.5em;
        padding:0.1em;
        display:block;
    } 
    article#aboutme p {
        margin: 15em auto 10em; 
    }
    article#services ul li {

    width:25%;
    
}

@media only screen and (max-width: 800px) {
    h1#logo, h1#logo a {
        background-size: 50% auto;
        height: 6em;
        width: 28em;
    }
    article#aboutme {
        background-size:auto 100%;
    }
    header {
        height: 6.4em;
    }
    header nav ul {
        line-height: 4em;
    }

    header nav ul li a {
        font-size: 1.5em;
        margin: 0.5em;
        padding:0.1em;
        display:block;
    } 
    article#aboutme p {
        font-size: 1.6em;
        line-height: 1.5em;
        margin: 11em auto 10em;   
    }
    article#services ul li {
    width:25%;
}

@media only screen and (max-width: 640px) {
    header{
        height: auto;
        min-height:6.3em;
    }
    img#icono-menu{
        display: block;
        float: right;
        margin: 2em 2em 0;
        cursor: pointer;
        width: 32px;
    }
    header nav{
        display: none;
        float: none;
        clear: both;
        width: 100%;
    }
    header nav ul {
        line-height: 4.2em;
    }
    header nav li {
        float: none;
        width: 100%;
    }

    article#aboutme {
        background-size:auto 100%;
    }
    article#contactme p {
        margin: 0 auto 13em;
    }
    article#contactme {
        text-align: center;
    }
    article#contactme .contenedorc {
        margin: -20em auto 30em;
        width: 80%;
    }   
    article#contactme form {
        width: 80%;
    }
    .col_left, .col_right {
        width: 100%;
    }   

}

@media only screen and (max-width:480px) {
    header{
        height: auto;
        min-height:6.3em;
    }
    h1#logo {
            float:left;
            background:url(../images/logo.png) center no-repeat;
        }
        
    img#icono-menu{
        display: block;
        float: right;
        margin: 2em 2em 0;
        cursor: pointer;
        width: 32px;
    }
    header nav{
        display: none;
        float: none;
        clear: both;
        width: 100%;
    }
    header nav ul {
        line-height: 4.2em;
    }
    header nav li {
    float: none;
    width: 100%;
    }
    article#aboutme p {
    font-size: 1.6em;
    line-height: 1.2em;    
    }
    article#aboutme h3 {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: -9em auto 9em;   
    } 

    article#aboutme {
        background-size:auto 100%;
    }
    article#contactme p {
        margin: 0 auto 13em;
    }
    article#contactme {
        text-align: center;
    }
    article#contactme .contenedorc {
        margin: -20em auto 30em;
        width: 80%;
    }
    article#contactme form {
        width: 80%;
    }
 
        .Linkedin a {
        margin: -70px 0 0 23px;
        } 
}

@media only screen and (max-width:351px) {
    header{
    height: auto;
    min-height:6.3em;
    }

    h1#logo {
            float:left;
            background:url(../images/logo.png) center no-repeat;
        }
        

    img#icono-menu{
        display: block;
        float: right;
        margin: -4em 2em 0;
        cursor: pointer;
        width: 32px;
    }
    header nav{
        display: none;
        float: none;
        clear: both;
        width: 100%;
    }
    header nav ul {
        line-height: 4.2em;
    }
    header nav li {
        float: none;
        width: 100%;
    }

    article#aboutme {
        background-size:auto 100%;
    }
    article#contactme p {
        margin: 0 auto 13em;
    }
    article#aboutme h3 {
        font-size: 1.4em;
        line-height: 1.3em;
        margin: -11em auto 9em;
    }
    article#contactme {
        text-align: center;
    }
    article#contactme .contenedorc {
        margin: -20em auto 30em;
        width: 80%;
    }
    article#contactme form {
        width: 80%;
    }

     .Linkedin a {
        background-size: 60%;     
        margin: -111px 0 0 23px;
    }
    .facebook a {

        background-size: 55%;     
        margin:-26px 0px 0px 50px;
    }
    .twitter a {
        background-size:70%;     
        margin:-70px 0px 0px 198px;
    }

}
